## Target Guided Ordinal Encoding

Ordering the labels according to the target

Replace the labels by the joint probability of being 1 or 0

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [2]:
df.Cabin.fillna('Missing',inplace=True)

In [4]:
df

     Survived    Cabin
0           0  Missing
1           1      C85
2           1  Missing
3           1     C123
4           0  Missing
..        ...      ...
886         0  Missing
887         1      B42
888         0  Missing
889         1     C148
890         0  Missing

[891 rows x 2 columns]

In [6]:
df.Cabin=df.Cabin.astype(str).str[0]

In [7]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [9]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [14]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [15]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [16]:
enumerate(ordinal_labels,0)

In [19]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0) }   ## Assign highest ranking

In [20]:
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [22]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df

     Survived Cabin  Cabin_ordinal_labels
0           0     M                     1
1           1     C                     4
2           1     M                     1
3           1     C                     4
4           0     M                     1
..        ...   ...                   ...
886         0     M                     1
887         1     B                     6
888         0     M                     1
889         1     C                     4
890         0     M                     1

[891 rows x 3 columns]

######  now we can drop the cabin column.

### Mean Encoding

In [24]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()

In [25]:
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [27]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df

     Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0           0     M                     1             0.299854
1           1     C                     4             0.593220
2           1     M                     1             0.299854
3           1     C                     4             0.593220
4           0     M                     1             0.299854
..        ...   ...                   ...                  ...
886         0     M                     1             0.299854
887         1     B                     6             0.744681
888         0     M                     1             0.299854
889         1     C                     4             0.593220
890         0     M                     1             0.299854

[891 rows x 4 columns]